[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
munch = "*"
pytz = "*"
tzlocal = "*"
feedparser = "<6.0.0"
pyowm = "*"

[requires]
python_version = "2.7"

[dev-packages]
