[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
munch = "*"
pytz = "*"
tzlocal = "*"
# feedparser = "<6.0.0"
pyowm = "*"
webcolors = "*"
pycopy-colorsys = "*"

[requires]
python_version = "3.8"

[dev-packages]
