[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# setuptools = "<58.0"
munch = "*"
pytz = "*"
tzlocal = "*"
# feedparser = "<6.0.0"
pyowm = "*"
webcolors = "*"
urllib3 = "*"
# pycopy-colorsys = "*"

[requires]
python_version = "3.8"

[dev-packages]
